* {
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow: hidden;
  background: #f5f5f5 url(/assets/background.png);
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  overflow: hidden;
  touch-action: none;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 400px;
  height: 400px;
  will-change: transform;
}

#trace-slow,
#trace-fast {
  display: none;
}

#trace-slow img,
#trace-fast img {
  opacity: 0.1;
}

.spinner-trace-1 {
  transform: rotate(5deg);
}

.spinner-trace-2 {
  transform: rotate(8deg);
}

.spinner-trace-3 {
  transform: rotate(12deg);
}

.spinner-trace-4 {
  transform: rotate(20deg);
}

.spinner-trace-5 {
  transform: rotate(-20deg);
}

.spinner-trace-6 {
  transform: rotate(-12deg);
}

.spinner-trace-7 {
  transform: rotate(-8deg);
}

.spinner-trace-8 {
  transform: rotate(-5deg);
}

#spinner img {
  position: absolute;
  top: 0;
  left: 0;
}

#footer {
  background: #ff4f75;
  bottom: 0px;
  position: absolute;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px -2px 6px 0px #e4c6c6;
  color: #fff;
  text-shadow: 0px 3px 0px rgba(219, 18, 96, 0.5);
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  border-radius: 0;
  left: 0;
  bottom: 0;
}

.speed {
  position: absolute;
  right: 25px;
  top: 17px;
}

#velocity {
  font-weight: bold;
  width: 90px;
  display: inline-block;
  text-align: right;
}

.velocity-display {
  font-size: 25px;
}

.velocity-unit {
  font-size: 55%;
  display: inline-block;
  margin-left: -4px;
}

.speed-icon {
  height: 23px;
  position: relative;
  opacity: 0.3;
  display: inline-block;
  margin-left: 7px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #989898;
}

.max-velocity-unit {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
}

#maxVelocity {
  font-size: 42px;
  display: inline-block;
  text-align: left;
}

.max-velocity {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.spin-icon {
  background: #ffe98f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: solid 1px #f59f44;
  box-shadow: 0px 2px 1px #da8c39, inset 1px 2px 0 rgba(255, 255, 255, 0.56);
  margin-right: 10px;
}

.coin-lift {
  background: #ffcb78;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  top: 15%;
  left: 15%;
  position: relative;
  box-shadow: inset 1px 2px 0 #f59f44;
}

.spin-img {
  height: 61%;
  top: 21%;
  position: absolute;
  left: 17%;
}

.spin-img-dark {
  top: 16%;
}

.turns {
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
  margin-left: 10px;
}

#turns {
  font-weight: bold;
  font-size: 25px;
}

.turns-unit {
  margin-left: -1px;
}

.turns div {
  display: inline-block;
}
